<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE configuration PUBLIC "-//my"> -->
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="logImpl" value="LOG4J"/>
        <!--<setting name="logImpl" value="STDOUT_LOGGING" />-->
        <!--开启驼峰命名映射：A_COUNT/aCount -->
        <setting name="mapUnderscoreToCamelCase" value="true" />
        <!--开启二级缓存,全局总开关，这里关闭，mapper中开启了也没用-->
        <setting name="cacheEnabled" value="false"/>
    </settings>

    <typeAliases>
        <package name="com.ax.model"/>
    </typeAliases>



</configuration>